.App {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.sortItem {
  width: 100%;
}

.sortItem iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
